/* css styles */
.navbar {
  background-color: #1b8db5 !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: rgba(255, 255, 255, 0.9) !important;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link.active {
  color: #ffffff !important;
}
